

# Keep these files
!miner.py
!blockchain_client.py
!README*
!wallet.py
!.gitignore
!miner.bat


# Ignore sensitive or dev files explicitly
.env
owner.txt
owner.py
p2p_node.py
wallet.txt
owner/
bat/

# Ignore Python cache & temp files
__pycache__/
*.pyc
*.pyo
*.log
